@{
ViewData["Title"] = "Under Construction";
Layout = "_MerchantAdminLayout";
NopHtml.SetActiveMenuItemSystemName("Invoices");
}
<!-- <div style="width: 800px; margin: 0 auto">
    <img src="~/images/underconstruction.png" width="800" />

</div> -->
<style>
    .bg-light-th th{
       background-color: #f6f6f6 !important;
       font-weight: bold;
    }
</style>
<div class="page shipment-details-page">
    <div class="page-title">
        Invoices
    </div>
    <div class="page-body">
   

        <div class="section products">

            <div class="table-wrapper">
                <table class="data-table">
                    <thead>
                        <tr class="bg-light-th">

                            <th class="">
                                invoice no#
                            </th>

                            <th class="">
                                Status
                            </th>
                            <th class="">
                                orderno#
                            </th>
                            <th class="name">Buyer(merchant)</th>
                            <th>Product</th>
                            <th>Amount $</th>
                            <th>Received $</th>
                            <th>Remain $</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>

                            <td class="sku">
                          #23589
                            </td>

                            <td class="">
                            Pending 
                            </td> <td class="">
                                Order #659669
                            </td> <td class="name">
                                Mohamed Ali
                            </td>    </td> <td class="">
                               Meat
                            </td>
                            <td >
                              
                                 <em>
                                     5000 ر.س
                                 </em>  
                                
                            </td> <td class="">
                                3000
                            </td> <td class="">
                                2000
                          </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>