@model ShoppingCartModel
@{
    Layout = "_MerchantAdminLayout";

    //title
    NopHtml.AddTitleParts(T("PageTitle.ShoppingCart").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-shopping-cart-page");
}
@if (!Model.OnePageCheckoutEnabled)
{
    @await Component.InvokeAsync(typeof(CheckoutProgressViewComponent), new {step = CheckoutProgressStep.Cart})
}
<div class="page shopping-cart-page">
    <div class="m-4">
        <h5>@T("ShoppingCart")</h5>
    </div>
    <div class="page-body">
        @await Component.InvokeAsync(typeof(OrderSummaryViewComponent), new { overriddenModel = Model})
    </div>
</div>
