<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode SystemName="Home" nopResource="Admin.Home" controller="Home" action="Overview">
    <siteMapNode SystemName="Dashboard"
                 nopResource="Admin.Dashboard"
                 controller="Merchant"
                 action="Index"
                 isAdminRoute = "no"
                 IconImage="~/images/theme/dashboard.png"
                 IconImageActive="~/images/theme/dashboard.png"/>

    <siteMapNode SystemName="Contract"
             nopResource="Contract"
             controller="Contract"
             action="List"
             isAdminRoute = "no"
             IconImage="~/images/theme/contract.svg"
             IconImageActive="~/images/theme/contract.svg"/>

    <siteMapNode SystemName="Products"
                 nopResource="Admin.Catalog.Products"
                 controller="Catalog"
                 action="AllProducts"
                 isAdminRoute = "no"
                 IconImage="~/images/theme/product.png"
                 IconImageActive="~/images/theme/product.png"/>

    <siteMapNode SystemName="Suppliers"
                 nopResource="Suppliers"
                 controller="MerchantSuppliers"
                 action="Index"
                 isAdminRoute = "no"
                 IconImage="~/images/theme/shopping.svg"
                 IconImageActive="~/images/theme/shopping.svg"/>

    <siteMapNode SystemName="Orders"
                 nopResource="Account.CustomerOrders"
                 controller="Order"
                 action="History"
                 isAdminRoute = "no"
                 IconImage="~/images/theme/order-1_svgrepo.com.svg"
                 IconImageActive="~/images/theme/order-1_svgrepo.com.svg"/>

    <siteMapNode SystemName="Inventory"
                 nopResource="Inventory"
                 controller="Shipping"
                 action="Warehouses"
                 isAdminRoute = "yes"
                 IconImage="~/images/theme/inventory.png"
                 IconImageActive="~/images/theme/inventory.png"/>

    <siteMapNode SystemName="Payments"
                 nopResource="Payments"
                 controller="MerchantPayments"
                 action="Index"
                 isAdminRoute = "no"
                 IconImage="~/images/theme/payment.svg"
                 IconImageActive="~/images/theme/payment.svg"/>

    <siteMapNode SystemName="Invoices"
                 nopResource="Invoices"
                 controller="MerchantInvoices"
                 action="Index"
                 isAdminRoute = "no"
                 IconImage="~/images/theme/invoices.svg"
                 IconImageActive="~/images/theme/invoices.svg"/>

    <siteMapNode SystemName="Analytics"
                 nopResource="Analytics"
                 controller="MerchantAnalytics"
                 action="Index"
                 isAdminRoute = "no"
                 IconImage="~/images/theme/analytics.svg"
                 IconImageActive="~/images/theme/analytics.svg"/>
  </siteMapNode>
</siteMap>
