@model AddressModel
<style>
    select#BillingNewAddress_CountryId {
    max-width: 100% !important;
}
select{
    max-width: 50% !important;
    background-color: white;
    background: white !important;
}
</style>
<input class="address-id" asp-for="Id" type="hidden"/>
<div class="edit-address row">
  
    <div class="col-sm-12 col-md-6 my-2">
           <div class="form-group">
        <label asp-for="FirstName" asp-postfix=":"></label>
        <br/>
        <input class="form-control bg-white" asp-for="FirstName" />
        <nop-required />
        <span asp-validation-for="FirstName"></span>
    </div>
</div>
    <div class="col-sm-12 col-md-6 my-2">
           <div class="form-group">
        <label asp-for="LastName" asp-postfix=":"></label>
        <br/>
        <input class="form-control bg-white" asp-for="LastName" />
        <nop-required />
        <span asp-validation-for="LastName"></span>
    </div>
</div>
    <div class="col-sm-12 col-md-6 my-2">
           <div class="form-group">
        <label asp-for="Email" asp-postfix=":"></label>
        <br/>
        <input class="form-control bg-white" asp-for="Email" />
        <nop-required />
        <span asp-validation-for="Email"></span>
    </div>
</div>
    @if (Model.CompanyEnabled)
    {
        <div class="col-sm-12 col-md-6 my-2">
               <div class="form-group">
            <label asp-for="Company" asp-postfix=":"></label>
            <br/>
            <input class="form-control bg-white" asp-for="Company" />
            @if (Model.CompanyRequired)
            {
                <nop-required />
            }
            <span asp-validation-for="Company"></span>
        </div>
    </div>
    }
    @if (Model.CountryEnabled)
    {
        <div class="col-sm-12 col-md-6 my-2">
               <div class="form-group">
            <label asp-for="CountryId" asp-postfix=":"></label>
            <br/>
            <select asp-for="CountryId" asp-items="Model.AvailableCountries"
                    data-trigger="country-select"
                    data-url="@(Url.RouteUrl("GetStatesByCountryId"))"
                    data-stateprovince="#@Html.IdFor(model => model.StateProvinceId)"
                    data-loading="#states-loading-progress"></select>
            <nop-required />
            <span asp-validation-for="CountryId"></span>
        </div>
    </div>
    }

    @if (Model.CountryEnabled && Model.StateProvinceEnabled)
    {
        <div class="col-sm-12 col-md-6 my-2">
               <div class="form-group">
            <label asp-for="StateProvinceId" asp-postfix=":"></label>
            <br/>
            <select asp-for="StateProvinceId" asp-items="Model.AvailableStates"
                    data-trigger="state-select">
            </select>
            <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait")</span>
            <span asp-validation-for="StateProvinceId"></span>
        </div>
    </div>
    }
    @if (Model.CountyEnabled)
    {
        <div class="col-sm-12 col-md-6 my-2">
               <div class="form-group">
            <label asp-for="County" asp-postfix=":"></label>
            <br/>
            <input class="form-control bg-white" asp-for="County" />
            @if (Model.CountyRequired)
            {
                <nop-required />
            }
            <span asp-validation-for="County"></span>
        </div>
    </div>
    }
    @if (Model.CityEnabled)
    {
        <div class="col-sm-12 col-md-6 my-2">
               <div class="form-group">
            <label asp-for="City" asp-postfix=":"></label>
            <br/>
            <input class="form-control bg-white" asp-for="City" />
            @if (Model.CityRequired)
            {
                <nop-required />
            }
            <span asp-validation-for="City"></span>
        </div>
    </div>
    }
    @if (Model.StreetAddressEnabled)
    {
        <div class="col-sm-12 col-md-6 my-2">
               <div class="form-group">
            <label asp-for="Address1" asp-postfix=":"></label>
            <br/>
            <input class="form-control bg-white" asp-for="Address1" />
            @if (Model.StreetAddressRequired)
            {
                <nop-required />
            }
            <span asp-validation-for="Address1"></span>
        </div>
    </div>
    }
    @if (Model.StreetAddress2Enabled)
    {
        <div class="col-sm-12 col-md-6 my-2">
               <div class="form-group">
            <label asp-for="Address2" asp-postfix=":"></label>
            <br/>
            <input class="form-control bg-white" asp-for="Address2" />
            @if (Model.StreetAddress2Required)
            {
                <nop-required />
            }
            <span asp-validation-for="Address2"></span>
        </div>
    </div>
    }
    @if (Model.ZipPostalCodeEnabled)
    {
        <div class="col-sm-12 col-md-6 my-2">
               <div class="form-group">
            <label asp-for="ZipPostalCode" asp-postfix=":"></label>
            <br/>
            <input class="form-control bg-white" asp-for="ZipPostalCode" />
            @if (Model.ZipPostalCodeRequired)
            {
                <nop-required />
            }
            <span asp-validation-for="ZipPostalCode"></span>
        </div>
    </div>
    }
    @if (Model.PhoneEnabled)
    {
        <div class="col-sm-12 col-md-6 my-2">
               <div class="form-group">
            <label asp-for="PhoneNumber" asp-postfix=":"></label>
            <br/>
            <input class="form-control bg-white" asp-for="PhoneNumber" />
            @if (Model.PhoneRequired)
            {
                <nop-required />
            }
            <span asp-validation-for="PhoneNumber"></span>
        </div>
    </div>
    }
    @if (Model.FaxEnabled)
    {
        <div class="col-sm-12 col-md-6 my-2">
               <div class="form-group">
            <label asp-for="FaxNumber" asp-postfix=":"></label>
            <br/>
            <input class="form-control bg-white" asp-for="FaxNumber" />
            @if (Model.FaxRequired)
            {
                <nop-required />
            }
            <span asp-validation-for="FaxNumber"></span>
        </div>
    </div>
    }
    @if (Model.CustomAddressAttributes.Count > 0)
    {
        @await Html.PartialAsync("_AddressAttributes", Model.CustomAddressAttributes)
    }
    @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.AddressBottom, additionalData = Model })
</div>
