<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode SystemName="Home" nopResource="Admin.Home" controller="Home" action="Overview">
    <siteMapNode SystemName="Dashboard"
                 nopResource="Admin.Dashboard"
                 controller="Supplier"
                 action="Index"
                 IconImage="~/images/theme/dashboard.svg"
                 IconImageActive="~/images/theme/dashboard.svg"/> 
    
    <siteMapNode SystemName="Contract"
             nopResource="Contract"
             controller="SupplierAnalytics"
             action="SupplierContractsList"
             isAdminRoute="yes"
             url="https://localhost:51744/admin/SupplierAnalytics/SupplierContractsList"
             IconImage="~/images/theme/contract.svg"
             IconImageActive="~/images/theme/contract.svg"/>
    
    <siteMapNode SystemName="Products" nopResource="Admin.Catalog.Products" IconImage="~/images/theme/pro-icon.svg" IconImageActive="~/images/theme/pro-icon.svg">
      <siteMapNode SystemName="Product List"
                   nopResource="Product List"
                   controller="Product"
                   action="List"
                   IconClass="fas fa-solid fa-circle"/>
                   
      <siteMapNode SystemName="Categories" 
                   nopResource="Admin.Catalog.Categories" 
                   PermissionNames="ManageCategories"
                   controller="Category" 
                   action="List" 
                   IconClass="far fa-dot-circle"/>

      <siteMapNode SystemName="Product tags"
                   nopResource="Admin.Catalog.ProductTags"
                   controller="Product"
                   action="ProductTags"
                   IconClass="fas fa-solid fa-circle"/>

      <siteMapNode SystemName="Product reviews"
                   nopResource="Admin.Catalog.ProductReviews"
                   controller="ProductReview"
                   action="List"
                   IconClass="fas fa-solid fa-circle"/>
    </siteMapNode>

    <siteMapNode SystemName="Manufacturers"
                 nopResource="Admin.Catalog.Manufacturers"
                 controller="Manufacturer"
                 action="List"
                 IconImage="~/images/theme/manfacuetr.svg"
                 IconImageActive="~/images/theme/manfacuetr.svg"></siteMapNode>

    <siteMapNode SystemName="Sales" nopResource="Admin.Sales" IconImage="~/images/theme/sales.svg" IconImageActive="~/images/theme/sales.svg">
      <siteMapNode SystemName="Orders"
                   nopResource="Admin.Orders"
                   controller="Order"
                   action="List"
                   IconClass="fas fa-solid fa-circle"/>

      <siteMapNode SystemName="Shipments"
                   nopResource="Admin.Orders.Shipments.List"
                   controller="Order"
                   action="ShipmentList"
                   IconClass="fas fa-solid fa-circle"/>

      <siteMapNode SystemName="Return requests"
                   nopResource="Admin.ReturnRequests"
                   controller="ReturnRequest"
                   action="List"
                   IconClass="fas fa-solid fa-circle"/>

      <!--<siteMapNode SystemName="Recurring payments"
                   nopResource="Admin.RecurringPayments"
                   controller="RecurringPayment"
                   action="List"
                   IconClass="fas fa-solid fa-circle"/>

      <siteMapNode SystemName="Gift cards"
                   nopResource="Admin.GiftCards"
                   controller="GiftCard"
                   action="List"
                   IconClass="fas fa-solid fa-circle"/>

      <siteMapNode SystemName="Current shopping carts and wishlists"
                   nopResource="Shopping Cart"
                   controller="ShoppingCart"
                   action="CurrentCarts"
                   IconClass="fas fa-solid fa-circle"/>

      <siteMapNode SystemName="Current shopping carts and wishlists"
                   nopResource="Wishlist"
                   controller="ShoppingCart"
                   action="CurrentCarts"
                   IconClass="fas fa-solid fa-circle"/>-->
    </siteMapNode>

    <siteMapNode SystemName="Promotions" nopResource="Admin.Promotions" IconImage="~/images/theme/promotion.svg" IconImageActive="~/images/theme/promotion.svg">
      <siteMapNode SystemName="Discounts"
                   nopResource="Admin.Promotions.Discounts"
                   controller="Discount"
                   action="List"
                   IconClass="fas fa-solid fa-circle" />

      <!--<siteMapNode SystemName="Affiliates"
                   nopResource="Admin.Affiliates"
                   controller="Affiliate"
                   action="List"
                   IconClass="fas fa-solid fa-circle" />

      <siteMapNode SystemName="Newsletter subscriptions"
                   nopResource="Admin.Promotions.NewsletterSubscriptions"
                   controller="NewsLetterSubscription"
                   action="List"
                   IconClass="fas fa-solid fa-circle"/>

      <siteMapNode SystemName="Campaigns"
                   nopResource="Admin.Promotions.Campaigns"
                   controller="Campaign"
                   action="List"
                   IconClass="fas fa-solid fa-circle"/>-->
    </siteMapNode>

    <siteMapNode SystemName="Reports" nopResource="Admin.Reports" IconImage="~/images/theme/reports.svg" IconImageActive="~/images/theme/reports.svg">
      <siteMapNode SystemName="Low stock"
                   nopResource="Admin.Reports.LowStock"
                   controller="Report"
                   action="LowStock"
                   IconClass="fas fa-solid fa-circle"/>

      <siteMapNode SystemName="Bestsellers"
                   nopResource="Admin.Reports.Sales.Bestsellers"
                   controller="Report"
                   action="Bestsellers"
                   IconClass="fas fa-solid fa-circle"/>

      <siteMapNode SystemName="Products never purchased"
                   nopResource="Admin.Reports.Sales.NeverSold"
                   controller="Report"
                   action="NeverSold"
                   IconClass="fas fa-solid fa-circle"/>
    </siteMapNode>


    <siteMapNode SystemName="Inventory"
                 nopResource="Inventory"
                 controller="Shipping"
                 action="Warehouses"
                 IconImage="~/images/theme/inventory.svg"
                 IconImageActive="~/images/theme/inventory.svg"/>

    <siteMapNode SystemName="Analytics"
                 nopResource="Analytics"
                 controller="SupplierAnalytics"
                 action="Index"
                 IconImage="~/images/theme/analytics.svg"
                 IconImageActive="~/images/theme/analytics.svg"/>
  </siteMapNode>
</siteMap>
