@{
    ViewData["Title"] = "Under Construction";
    Layout = "_SupplierAdminLayout";
    NopHtml.SetActiveMenuItemSystemName("Inventory");
}
<div style="width: 800px; margin: 0 auto">
    <img src="~/images/underconstruction.png" width="800" />

</div>
