<section class="section-Imagse">
  <div class="row pr-4 mr-5 uploadRow">
    <div class=" mx-2 mt-4">
      <div class="proimg">
        <img src="@Url.Content(" ../../images/product/pro_01.png")" alt="" />
      </div>
    </div>
 
    <div class=" mx-2 mt-4">
      <div class="proimg">
        <img src="@Url.Content(" ../../images/product/pro_01(11).png")" alt="" />
      </div>
    </div>
    <!-- Upload new -->
    <div class="mx-2 mt-4">
      <div class="uploaadnew">
        <div class="uploadImagesarea d-flex flex-column align-items-center justify-content-center">
          <p>
            <input type="file" id="uploadResPaper" style="display: none">
            <img onclick="document.getElementById('uploadResPaper').click()"
              src="@Url.Content("~/images/theme/Landscape2.svg")" alt="suptomer">
          </p>
          <p class="card-text">Upload/Browse</p>

        </div>
      </div>

    </div>
  </div>
</section>