a {
  color: #3d005e !important;
}

body,
p,
div {
  font-family: "Inter", sans-serif !important;
  line-height: 1.5rem !important;
}

.elevation-4 {
  box-shadow: none !important;
}

.user-profile {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-avatar .dropdown-toggle::after {
  display: none !important;
}

.main-header.navbar-expand-md {
  padding-top: 13px;
  border-bottom: 1px solid #f4f4f4;
}

.header-avatar {
  height: 100%;
  display: flex;
}
.header-avatar a .header-arrow {
  margin-left: 18px;
  margin-right: 18px;
}
.admin-search-box {
  border-radius: 14px !important;
  padding: 8px 16px !important;
}

.logo-switch {
  border-bottom: 1px solid #f4f4f4 !important;
  margin-bottom: 12px !important;
}
.logo-switch img.brand-image-xl {
  margin-top: 18px;
  margin-left: 4px;
  width: 112px !important;
  position: initial;
  top: -8px;
}

.main-header.navbar-expand-md {
  padding-top: 6px;
}

.brand-image-xs.logo-xs {
  position: absolute;
  top: 26px !important;
  left: 1.5rem;
}

nav.main-header {
  position: fixed !important;
  width: 100% !important;
}

@media screen and (min-width: 992px) {
  nav.main-header {
    position: fixed !important;
    width: calc(100% - 250px) !important;
  }
  .control-sidebar-slide-open.sidebar-collapse .wrapper .main-header {
    width: calc(100% - 5rem) !important;
  }
}
.humberger-icon {
  position: relative !important;
  z-index: 9999999 !important;
  left: -13px !important;
  top: 2px !important;
}

.content-wrapper {
  position: relative !important;
  top: 85px !important;
}

.main-sidebar.custom {
  z-index: 1010 !important;
  border-right: 2px solid #f4f4f4;
}

#sidebar-overlay {
  z-index: 1006 !important;
}

@media only screen and (max-width: 768px) {
  #sidebar-overlay {
    z-index: 1006 !important;
  }
  .navbar-nav {
    margin: 0 !important;
  }
  .humberger-icon {
    position: relative !important;
    z-index: 9999999 !important;
    left: auto !important;
    top: auto !important;
  }
}
/* Only the scroll bar */
::-webkit-scrollbar {
  width: 6px;
  height: 0.3rem;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(159, 145, 167, 0.311);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(78, 52, 95, 0.3);
  border-radius: 8px;
}

.nav-legacy .nav-item {
  margin-bottom: 18px !important;
}
.nav-legacy .nav-item .nav-link {
  color: #838383 !important;
}
.nav-legacy .nav-item .nav-link.active {
  color: rgb(61, 0, 94) !important;
  font-weight: 700 !important;
  border-left: 4px solid rgb(61, 0, 94) !important;
  box-shadow: none !important;
}

.nav-treeview {
  margin-top: 16px !important;
}
.nav-treeview .nav-item .nav-link.active {
  border-left: none !important;
}

nav-treeview {
  background-color: rgba(61, 0, 94, 0.2) !important;
}

.text-primary {
  color: rgb(61, 0, 94) !important;
}

.text-light2 {
  color: #666 !important;
  font-size: 10px !important;
}

.text-dark2 {
  color: #000 !important;
  font-size: 14px !important;
}

.btn-outline-sm {
  border-radius: 50px;
  color: rgb(61, 0, 94) !important;
  border-color: rgb(61, 0, 94) !important;
  border: 1px solid;
}

.btn-outline-primary {
  color: rgb(61, 0, 94) !important;
  border-color: rgb(61, 0, 94) !important;
}
.btn-outline-primary:hover {
  background-color: rgba(61, 0, 94, 0.1019607843) !important;
}

.btn-primary {
  background-color: rgb(61, 0, 94) !important;
  border-color: rgb(61, 0, 94) !important;
  color: white !important;
}
.btn-primary:hover {
  background-color: rgba(61, 0, 94, 0.5) !important;
  color: rgb(61, 0, 94) !important;
}

.btn-light-theme {
  background-color: rgba(61, 0, 94, 0.2);
  color: rgb(61, 0, 94);
  border-radius: 4px;
  font-size: 14px;
}

/* Custom checkbox style */
.custom-checkbox .form-check-input {
  width: 1.2em;
  height: 1.2em;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-checkbox .form-check-input:checked {
  background-color: #007bff;
  border-color: #007bff;
}

.custom-checkbox .form-check-input:checked::after {
  content: "";
  display: block;
  width: 0.6em;
  height: 0.6em;
  margin: 0.25em;
  background-color: #fff;
  border-radius: 0.1em;
}

i.true-icon {
  color: rgb(61, 0, 94) !important;
}

.card-outline {
  border-top: 3px solid rgb(61, 0, 94) !important;
}

.btn-info {
  background-color: rgb(61, 0, 94) !important;
  border-color: rgb(61, 0, 94) !important;
}

.page-item.active .page-link {
  background-color: rgb(61, 0, 94) !important;
  border-color: rgb(61, 0, 94) !important;
}

.card.widget {
  border-radius: 10px;
  border: 1px solid #f4f4f4;
  max-height: 200px;
}
.card.widget .card-body {
  padding: 24px !important;
  padding-bottom: 0 !important;
}
.card.widget .chart-area {
  border-radius: 10px;
}
.card.widget .chart-area canvas {
  border-radius: 10px;
  margin-top: 32px;
  height: 73px !important;
}

#area_chart {
  background-image: url(../images/theme/world.png) !important;
  background-color: transparent;
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.card-body {
  padding: 24px !important;
  padding-bottom: 0 !important;
}
.card-body p.left-card-title {
  margin-top: -23px !important;
  margin-left: -24px !important;
  margin-bottom: 16px !important;
}

.chart_ddl {
  max-width: 105px;
  border-radius: 8px;
  display: inline !important;
  border: 1px solid #f4f4f4;
  color: #9C9C9C;
}

.card.widget-flex {
  border-radius: 10px;
  border: 1px solid #f4f4f4;
  padding: 12px !important;
}

.circle_progress .cssProgress-bar {
  width: 130px !important;
  height: 130px !important;
  border-radius: 50% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(closest-side, white 79%, transparent 80% 100%), conic-gradient(#3d005e 75%, rgba(61, 0, 94, 0.1) 0) !important;
}
.circle_progress .cssProgress-bar .progressvalue {
  position: initial;
  font-size: 1rem;
  font-weight: 800;
}

.progress4 .cssProgress-bar {
  height: 6px !important;
  background: #3d005e !important;
  border-radius: 76px !important;
  margin: 8px 0 !important;
}

.progressvalue {
  position: relative;
  top: -26px;
  left: 91%;
  font-size: 10px;
  font-weight: 800;
}

.progress-titles {
  font-size: 1rem !important;
  font-weight: 600;
  line-height: 1.375 !important;
  letter-spacing: 0 !important;
}

.parent-card {
  padding: 18px !important;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  margin: 2px;
  justify-content: space-around;
  align-items: stretch;
  margin: 2px;
}
.parent-card .merchant-card {
  min-width: 127.53px !important;
  height: 165.316px !important;
}
.parent-card .merchant-card .card {
  border-radius: 10px !important;
  border: 1px solid #F2F2F2 !important;
  background: #F9F9F9 !important;
  margin-bottom: 0 !important;
  height: 100%;
}
.parent-card .merchant-card .card .card-body {
  padding: 18px !important;
  display: flex;
  padding-bottom: 0 !important;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.parent-card .merchant-card .card .card-body p {
  margin-top: 28px;
  line-height: 25px !important;
}
.parent-card .merchant-card .card .card-body p sup {
  font-size: 10px;
}

@media screen and (max-width: 1342px) {
  .parent-card {
    padding: 18px !important;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    margin: 2px;
    justify-content: flex-start;
    align-items: stretch;
  }
  .parent-card .merchant-card {
    min-width: 127.53px !important;
    height: 165.316px !important;
    margin-top: 12px !important;
  }
}
.merchant-card-light {
  border: 1px solid #F2F2F2 !important;
  background: #F9F9F9;
  border-radius: 5px;
  height: 392px;
}

.merchant-card-weight {
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

#saving_chart {
  width: 180px !important;
  height: 180px !important;
}

.bg-light_theme {
  background-color: rgba(61, 0, 94, 0.05) !important;
  max-height: 99vh;
  overflow-y: auto;
}

.tiny_light,
.tiny {
  font-feature-settings: "clig" off, "liga" off;
  margin-top: 18px;
}

.tiny {
  color: #000;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 14px;
}

.tiny_light {
  color: #B6B6B6;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content-header {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}
.content-header .float-right {
  clear: both !important;
  float: none !important;
  width: 100%;
  text-align: right !important;
  display: flex !important;
  justify-content: flex-end !important;
}
.content-header h1 {
  color: rgb(61, 0, 94) !important;
  font-family: Inter !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: normal !important;
}

a.btn.btn-info {
  color: white !important;
}

.card-search .card-body {
  padding: 8px !important;
}

.label-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*input suptomer*/
input.form-control,
textarea {
  border: none !important;
  border-radius: 0 !important;
  max-width: 400px !important;
  height: 48px !important;
  border-bottom: 2px solid #8D8D8D !important;
  background: #f4f4f4;
  display: flex !important;
  padding: 15px 16px !important;
  align-items: flex-start !important;
  gap: 16px !important;
  align-self: stretch !important;
  font-size: 14px !important;
  margin-bottom: 16px !important;
}

select, select:not([id^=product]),
select:not([class^=custom-select]),
select:not([class^=chart_ddl]) {
  border: none;
  border-radius: 0;
  max-width: 400px !important;
  height: 48px;
  border-bottom: 2px solid #8D8D8D;
  background: #f4f4f4;
  display: inline-block;
  padding: 15px 16px;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  font-size: 14px;
  margin-bottom: 16px;
}

.tag-editor {
  width: 93% !important;
}

.k-multiselect-clearable .k-multiselect-wrap,
.tag-editor,
.k-picker-wrap .k-input,
.k-numeric-wrap .k-input {
  border: 0;
  border-radius: 0;
  max-width: 400px !important;
  width: 93% !important;
  height: 40px;
  border-bottom: 2px solid #8d8d8d !important;
  background: #f4f4f4 !important;
}

.form-horizontal .k-datetimepicker {
  width: 90% !important;
}

.k-picker-wrap.k-state-default {
  padding-right: 0 !important;
}

.k-multiselect {
  border: 0;
  border-radius: 0;
  max-width: 400px !important;
  width: 93% !important;
  border-bottom: 2px solid #8d8d8d;
  background: #f4f4f4;
  font-size: 14px;
  margin-bottom: 16px;
}

.check-box {
  margin-top: 13px;
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.btn-transparent {
  background-color: transparent !important;
  border: none !important;
}

textarea {
  width: 90% !important;
  max-width: calc(70vw - 14%) !important;
}

select {
  height: 48px !important;
}

.search-group .col-md-12 input.single-line,
.search-group .col-md-12 [name*=Search],
.search-group .col-md-12 select {
  background-color: #fafafa !important;
}
.search-group .col-md-12 .slider {
  background-color: #fafafa;
}

.k-picker-wrap.k-state-default, k-numeric-wrap.k-state-default {
  height: 44px !important;
}

.k-numeric-wrap.k-state-default > .k-select {
  right: 24px;
  background-color: #f4f4f4;
  border: 0;
  height: 38px !important;
  width: 22px;
  top: 0px;
  position: relative;
  opacity: 1;
}

.k-numeric-wrap.k-state-default input[type=text].k-input {
  box-sizing: content-box;
  width: 300px !important;
}

.k-select {
  right: 31px !important;
  height: 44px !important;
}

ul.k-reset li .k-select[title=delete] {
  right: 0 !important;
}

@media screen and (max-width: 1026px) and (min-width: 760px) {
  input.form-control,
  select:not([id^=product]),
  select:not([class^=custom-select]),
  select:not([class^=chart_ddl]),
  textarea,
  .k-multiselect,
  .k-multiselect-clearable .k-multiselect-wrap,
  .tag-editor,
  .k-picker-wrap .k-input,
  .k-numeric-wrap .k-input,
  .k-widget {
    max-width: 320px !important;
    width: 90% !important;
  }
  .k-select {
    right: 31px;
    height: 44px;
  }
  .k-picker-wrap.k-state-default, k-numeric-wrap.k-state-default {
    height: 44px !important;
  }
  .k-numeric-wrap.k-state-default > .k-select {
    right: 24px;
    background-color: #f4f4f4;
    border: 0;
    height: 38px;
    width: 22px;
    top: 0px;
    position: relative;
    opacity: 1;
  }
}
.form-horizontal .label-wrapper {
  float: none !important;
  display: flex !important;
  align-items: flex-start !important;
  width: 100% !important;
  max-width: 400px !important;
  text-align: left !important;
  justify-content: flex-start !important;
  direction: revert !important;
}
.form-horizontal .label-wrapper .col-form-label {
  text-align: left !important;
  flex-grow: 0 !important;
}

.form-horizontal .label-wrapper .ico-help {
  display: initial !important;
  margin-left: 8px !important;
  color: #3d005e !important;
  font-size: 12px !important;
}

.nivo-controlNav {
  display: none !important;
}

.nivoSlider {
  width: 180px !important;
  padding: 12px;
  height: 134px !important;
}
.nivoSlider img {
  max-width: 150px !important;
  width: auto !important;
  height: auto;
  max-height: 100px !important;
}

.nivo-slice {
  padding: 12px !important;
  z-index: 5;
  margin: 12px !important;
}

.nav-sidebar > .nav-item .nav-icon.fas {
  font-size: 8px !important;
}

.nav-item .nav-link {
  display: flex !important;
  align-items: center !important;
  justify-content: flex-start !important;
}
.nav-item .nav-link .nav-icon {
  margin-right: 8px;
  width: 22px !important;
}

[class*=sidebar-light] .nav-legacy.nav-sidebar > .nav-item .nav-treeview,
[class*=sidebar-light] .nav-legacy.nav-sidebar > .nav-item > .nav-treeview {
  background: none !important;
}

.nav-tabs.stepper {
  padding-left: 1rem;
  border-bottom: 0;
  border-right: none !important;
  display: flex;
  height: 80vh;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-around;
}
.nav-tabs.stepper .nav-link {
  border: 0 !important;
  display: flex;
  align-items: flex-start;
}
.nav-tabs.stepper .nav-link.active .step-text {
  font-weight: bold !important;
  color: rgb(61, 0, 94) !important;
}
.nav-tabs.stepper .nav-link.active .step-icon {
  background-color: rgb(225, 211, 233) !important;
  border-color: rgb(61, 0, 94) !important;
}
.nav-tabs.stepper .nav-link::after {
  position: absolute;
  top: 1.6rem;
  left: 54px;
  width: 0.1em;
  height: 71vh;
  content: "";
  background-color: #d9d9d9;
}
.nav-tabs.stepper .nav-link .step-text {
  overflow: hidden;
  word-wrap: break-word;
  color: rgb(156, 156, 156);
  text-overflow: ellipsis;
}
.nav-tabs.stepper .nav-link .step-icon {
  width: 18px;
  height: 18px;
  background-color: #fff;
}

.step-img {
  background-color: #fff;
  position: relative;
  z-index: 5;
  padding: 5px;
  margin: -5px 8px 0 0;
  border: 1px solid #d9d9d9;
  border-radius: 65px;
  display: flex;
}

.step-container {
  padding: 15px 1rem;
}

.switch {
  --circle-dim: 1.4em;
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ebebeb;
  transition: 0.4s;
  border-radius: 30px;
}

.slider-card {
  position: absolute;
  content: "";
  height: var(--circle-dim);
  width: var(--circle-dim);
  border-radius: 20px;
  left: 0.3em;
  bottom: 0.3em;
  transition: 0.4s;
  pointer-events: none;
}

.slider-card-face {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  perspective: 1000px;
  border-radius: 50%;
  transition: 0.4s transform;
}

.slider-card-front {
  background-color: #6c757d;
}

.slider-card-back {
  background-color: #379237;
  transform: rotateY(180deg);
}

input:checked ~ .slider-card .slider-card-back {
  transform: rotateY(0);
}

input:checked ~ .slider-card .slider-card-front {
  transform: rotateY(-180deg);
}

input:checked ~ .slider-card {
  transform: translateX(1.5em);
}

input:checked ~ .slider {
  background-color: #9ed99c;
}

.section-products div div .card.p-3.bg-white:hover {
  border-color: rgb(61, 0, 94) !important;
}

.uploadRow {
  display: flex;
  display: none;
  justify-content: flex-start;
  align-items: center;
}

.proimg {
  width: 195px !important;
  height: 195px;
  display: flex;
  border: 1px solid #e1d3e9;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.uploadImagesarea {
  background: white;
  padding: 16px;
  width: 195px !important;
  height: 195px !important;
  border-radius: 8px !important;
  border: 2px dashed rgba(61, 0, 94, 0.4) !important;
}

.cat_nav .list {
  border-radius: 9px;
  background: #FAFAFA;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
  display: flex !important;
  flex-wrap: nowrap;
  align-items: center;
  overflow: scroll;
}
.cat_nav .list a::before {
  display: none;
}

.main-header.navbar-expand-md {
  max-height: 79px !important;
}

.block.w-100.block-category-navigation {
  max-width: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(61, 0, 94);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropbtn a:hover {
  background-color: #f4f4f4;
}

.dropbtn:hover .dropdown-content {
  display: block;
}

.simple__ddl,
#products-pagesize,
#products-orderby {
  border-radius: 4px !important;
  background: #fff !important;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25) !important;
  width: 154px !important;
  height: 40px !important;
  color: #727272 !important;
  font-family: Inter !important;
  font-size: 14px !important;
  font-style: normal !important;
  display: inline-block !important;
  font-weight: 500 !important;
  line-height: normal !important;
  padding: 10px 16px !important;
  border: 0 !important;
  top: 6px;
  margin-right: 8px;
  position: relative;
  border: 1px solid #f4f4f4 !important;
}

.center-2,
.side-2 {
  margin: 0 !important;
}

.bar-notification {
  position: relative;
  display: none;
  padding: 15px 25px 15px 10px;
  /* z-index: 9999999999999; */
  width: 100vw;
  top: 72px;
  text-align: center;
  font-weight: bold;
  height: 57px;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.bar-notification p {
  padding: 0 !important;
}

.product-viewmode a.grid,
.product-viewmode a.list {
  background-size: 100%;
}

.cart-table-col {
  border-radius: 7px;
  background: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.cart-table-col table tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25) !important;
}
.cart-table-col table tr td {
  border: 0 !important;
}
.cart-table-col table th {
  border: 0;
  border-color: #fff;
  background-color: #fff;
}

.cart-details-col {
  border-radius: 7px;
  background: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.cart-collaterals .coupon-code input[type=text] {
  height: 48px !important;
  flex-shrink: 0 !important;
  border-radius: 3px !important;
  background: #FFF !important;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25) !important;
}

.apply-discount,
.apply-gift,
.cart-collaterals .button-2 {
  border-radius: 4px !important;
  background: rgba(61, 0, 94, 0.4) !important;
  width: 86px !important;
  height: 48px !important;
}

.cart-footer .totals {
  width: auto !important;
  max-width: 100% !important;
  margin: 0 auto 50px !important;
  background-color: #ffffff !important;
  padding: 10px !important;
  color: #444 !important;
  margin: 4px !important;
  border-radius: 4px !important;
  float: none !important;
}

.shopping-cart-page .common-buttons button:first-child,
.cart-footer .checkout-button,
.shopping-cart-page .common-buttons .estimate-shipping-button,
.shopping-cart-page .common-buttons button {
  background-color: rgb(61, 0, 94) !important;
  color: white !important;
  border-radius: 6px !important;
  height: 40px !important;
}

.btn.icon-only {
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  height: 32px;
  width: 32px;
  padding: 2px;
}
.btn.icon-only .fa {
  font-size: 25px;
}

.btn.icon-only-outline {
  border: none !important;
  color: white !important;
  padding: 12px 16px !important;
  font-size: 16px !important;
  cursor: pointer !important;
  border-radius: 4px !important;
  height: 32px !important;
  width: 32px !important;
  padding: 2px !important;
  border-radius: 4px !important;
  border: 0.788px solid #3D005E !important;
  background: #FFF !important;
}
.btn.icon-only-outline .fa {
  font-size: 22px;
}

/* Darker background on mouse-over */
.btn.icon-only:hover {
  background-color: rgba(61, 0, 94, 0.5);
}

/***/
.product-pager {
  display: flex;
  text-align: left;
}

.pager li.current-page span {
  border-color: transparent !important;
  background-color: rgb(61, 0, 94) !important;
  color: #fff;
}

.pager li a, .pager li span {
  border: 1px solid #f3f3f3 !important;
  background-color: #ffffff !important;
  border-radius: 4px !important;
  color: rgb(61, 0, 94);
}

.add-to-cart-button {
  background-color: rgb(61, 0, 94) !important;
}
.add-to-cart-button::hover {
  background-color: #f4f4f4 !important;
}

.enter-address .edit-address {
  background-color: rgba(61, 0, 94, 0.0509803922) !important;
  border-top: 1px solid #e6e6e6 !important;
  margin: 0 !important;
  padding: 16px !important;
  margin-top: -16px !important;
}

/***override default theme */
.checkout-page .button-1:hover, .checkout-page .button-1:focus {
  background-color: rgba(61, 0, 94, 0.2) !important;
}

/* ====================== */
.payment-method .method-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.payment-method .method-list li {
  display: flex;
  width: auto;
  margin: 4px;
  vertical-align: top;
  flex-direction: column;
  align-items: flex-start;
}

.payment-method .method-list li .method-name {
  width: 322px !important;
  height: 110px !important;
  flex-shrink: 0 !important;
  border-radius: 7px !important;
  border: 1px solid #3D005E !important;
  background: #FFF !important;
  text-align: justify;
}

.page-item.active .page-link {
  color: white !important;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th {
  border: 1px solid #F6F6F6 !important;
  vertical-align: baseline;
}

div.dataTables_scrollBody > table > tbody tr th, div.dataTables_scrollBody > table > tbody tr td {
  border-right: 0 !important;
}

div.dataTables_scrollBody > table > tbody tr:first-child th:last-child, div.dataTables_scrollBody > table > tbody tr td:last-child {
  border-right: 1px solid #F6F6F6 !important;
}

table.dataTable.table-striped > tbody > tr.odd > * {
  box-shadow: none !important;
}

input[type=checkbox] {
  accent-color: #3d005e !important;
  border-color: #3d005e !important;
  background-color: #3d005e !important;
}

.k-picker-wrap.k-state-default > .k-select {
  display: flex !important;
  background: #f4f4f4 !important;
  border: 0 !important;
  border-left: 1px solid #d2d6de !important;
  border-bottom: 2px solid #8d8d8d;
  align-items: center !important;
  position: absolute;
  right: 0 !important;
  width: 28px !important;
  padding-left: 10px !important;
}

input[type=text].k-input {
  width: 100% !important;
  box-sizing: content-box;
}

.k-datetimepicker .k-state-default span.k-select {
  width: 57px !important;
  padding-left: 7px !important;
  padding-right: 8px !important;
}

.k-widget {
  background: white !important;
  max-width: 400px !important;
  width: 93% !important;
  border-bottom: 2px solid #8d8d8d;
  background: #f4f4f4;
  font-size: 14px;
  margin-bottom: 16px;
}

.card-search .form-control {
  max-width: 301px !important;
}
